@use "govuk-frontend";

@use "variables";
@use "core";
@use "heading";
@use "navigation";
// @use "components/service-card";

.text-wrap-no-hyphen {
  overflow-wrap: anywhere;
  word-break: break-word;
  hyphens: none;
  display: block;
}

//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

// Add extra styles here

  // gov.uk card

  .gem-c-cards__heading {
    margin: 0 0 30px 0
}

.gem-c-cards__list {
    list-style: none;
    padding: 0;
    margin: 0 -15px;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr
}


@media(min-width: 40.0625em) {
    .gem-c-cards__list {
        grid-template-columns:1fr 1fr
    }
}

@media(min-width: 48.0625em) {
    .gem-c-cards__list {
        grid-template-columns:1fr 1fr 1fr;
        width: 50%
    }

    @supports(display: grid) {
        .gem-c-cards__list {
            width:initial;
        }
    }
}

@media(min-width: 48.0625em) {
    .gem-c-cards__list--two-column-desktop {
        grid-template-columns:1fr 1fr
    }
}


.gem-c-cards__list-item {
    border-top: 1px solid #b1b4b6;
    margin: 0 15px;
    padding: 5px 0 20px 0
}

.gem-c-cards__list-item-variant {
  border: 1px solid #b1b4b6;
  margin: 0 15px 30px;
  padding: 5px 0 20px 0;
  border-bottom: 4px solid #b1b4b6;
}

@media(min-width: 48.0625em) {
  .gem-c-cards__list-item-variant {

  }
}


.gem-c-cards__list-item-wrapper {
    padding: 10px 30px 10px 0;
    position: relative
}

.gem-c-cards__list-item-wrapper-variant {
  padding: 10px 50px 0px 15px;
  position: relative;
}

.gem-c-cards__sub-heading {
    margin-bottom: 10px;
}

.gem-c-cards__link::after {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.gem-c-cards__link::before {
    border-right: 3px solid #1d70b8;
    border-top: 3px solid #1d70b8;
    content: "";
    height: 7px;
    position: absolute;
    right: 5px;
    top: 15px;
    -webkit-transform: translateY(0) rotate(45deg) scale(1);
    -ms-transform: translateY(0) rotate(45deg) scale(1);
    transform: translateY(0) rotate(45deg) scale(1);
    width: 7px
}

.gem-c-cards__link:hover::before {
    border-color: #003078
}

.gem-c-cards__link:focus::before {
    border-color: #0b0c0c
}

.gem-c-cards__description {
    margin: 0 -30px 0 0
}

@media print {
    .gem-c-cards__list {
        display: block
    }

    .gem-c-cards__list-item {
        padding-bottom: 0
    }

    .gem-c-cards__sub-heading {
        margin-top: 20px;
        margin-bottom: 5px
    }

    .gem-c-cards__link::before {
        display: none
    }
}


.no-bullet {
  list-style-type: none;
  padding-inline-start: 0px;
}





// Pagination

@media (min-width: 40.0625em) {
  .govuk-pagination {
      margin-bottom: 15px;
  }
}


// Vet visits get emails about this page component

.gem-c-layout-for-public {
  font-family: "GDS Transport", arial, sans-serif;
}

.gem-c-single-page-notification-button__submit {
  padding: 10px;
  margin: 0;
  border: 1px solid #505a5f;
  color: #1d70b8;
  cursor: pointer;
  background: none;
}

.gem-c-single-page-notification-button__icon {
  color: #0b0c0c;
  vertical-align: top;
  margin-right: 5px;
}

// Vet visits print this page component


.js-enabled .gem-c-print-link {
  display: block;
}

.gem-c-print-link__button {
  border: 1px solid #505a5f;
  color: #1d70b8;
  cursor: pointer;
  margin: 0;
}

.gem-c-print-link__link, .gem-c-print-link__button {
  background: url(/public/images/print-icon.png) no-repeat 10px 50%;
  background-size: 16px 18px;
  padding: 10px 10px 10px 36px;
  text-decoration: none;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .gem-c-print-link__link, .gem-c-print-link__button {
      background-image: url(/public/images/print-icon.png);
  }
}


// Vet visits gov uk contact text styling

.contact {
  position: relative;
  border-left: 1px solid #b1b4b6;
  padding-left: 15px;
  margin-bottom: 30px;
  margin-top: 30px;
}

// Vet visits published date styling

.app-c-published-dates {
  direction: ltr;
  line-height: 1.45em;
  color: #0b0c0c;
}

@media (min-width: 40.0625em) {
  .published-dates-button-group {
      display: flex;
      flex-direction: row;
  }
}


// Vet visits contents back to top

.app-c-back-to-top__icon {
  float: left;
  margin-right: .3em;
  width: .8em;
  height: .968em;
}

.app-c-contents-list-with-body__link-wrapper {
  padding-bottom: 30px;
}

@media (min-width: 40.0625em) {
  .app-c-contents-list-with-body__link-container {
      max-width: 1024px;
  }
}


// Vet visits explore the topic

.gem-c-related-navigation {
  color: #0b0c0c;
  border-top: 2px solid #1d70b8;
  margin-bottom: 60px;
}

@media (min-width: 40.0625em) {
  .gem-c-related-navigation__sub-heading--footer {
      font-size: 1.1875rem;
      line-height: 1.3157894737;
      font-family: "GDS Transport", arial, sans-serif;
  }
}

.gem-c-related-navigation__link-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 1.25em;
}

@media (min-width: 40.0625em) {
  .gem-c-related-navigation__link {
      line-height: 1.28;
  }
}
@media (min-width: 40.0625em) {
  .gem-c-related-navigation__link {
      font-size: 1rem;
  }
}
.gem-c-related-navigation__link {
  list-style-type: none;
  margin-top: 15px;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}

.gem-c-related-navigation__section-link {
  font-weight: bold;
}

@media (min-width: 40.0625em) {
  .gem-c-cards__list-cards {
    grid-template-columns:1fr 1fr;
  }
}
