services:
  fcp-sfd-frontend:
    build:
      context: .
      target: development
    links:
      - 'redis:redis'
    depends_on:
      redis:
        condition: service_started
      fcp-defra-id-stub:
        condition: service_healthy
    environment:
      PORT: 3000
      NODE_ENV: development
      ALLOW_ERROR_VIEWS: ${ALLOW_ERROR_VIEWS:-false}
      DAL_ENDPOINT: ${DAL_ENDPOINT:-http://fcp-dal-api:3005/graphql}
      DAL_TOKEN_ENDPOINT: https://login.microsoftonline.com/${DAL_TENANT_ID}/oauth2/v2.0/token
      DAL_CONNECTION: ${DAL_CONNECTION:-false}
      DAL_CLIENT_ID: ${DAL_CLIENT_ID}
      DAL_CLIENT_SECRET: ${DAL_CLIENT_SECRET}
      DAL_TENANT_ID: ${DAL_TENANT_ID}
      DEFRA_ID_WELL_KNOWN_URL: ${DEFRA_ID_WELL_KNOWN_URL}
      DEFRA_ID_CLIENT_ID: ${DEFRA_ID_CLIENT_ID}
      DEFRA_ID_CLIENT_SECRET: ${DEFRA_ID_CLIENT_SECRET}
      DEFRA_ID_SERVICE_ID: ${DEFRA_ID_SERVICE_ID}
      DEFRA_ID_POLICY: ${DEFRA_ID_POLICY}
      DEFRA_ID_REDIRECT_URL: http://localhost:3000/auth/sign-in-oidc
      DEFRA_ID_SIGN_OUT_REDIRECT_URL: http://localhost:3000/auth/sign-out-oidc
      DAL_EMAIL_HEADER: ${DAL_EMAIL_HEADER}
      OS_PLACES_CLIENT_ID: ${OS_PLACES_CLIENT_ID}
      OS_PLACES_STUB: ${OS_PLACES_STUB:-false}
      PERSONAL_DETAILS_INTERRUPTER_ENABLED: ${PERSONAL_DETAILS_INTERRUPTER_ENABLED:-false}
      BUSINESS_DETAILS_INTERRUPTER_ENABLED: ${BUSINESS_DETAILS_INTERRUPTER_ENABLED:-false}
      CPH_ENABLED: ${CPH_ENABLED:-false}

  kits-mock:
    image: defradigital/fcp-dal-upstream-mock:0.38.0
    environment:
      MOCK_LOG_LEVEL: info
      MOCK_SERVER_COLLECTION: all
      NODE_ENV: development
      PORT: 3100

  fcp-dal-api:
    image: defradigital/fcp-dal-api:0.68.0
    depends_on:
      - kits-mock
    environment:
      ALL_SCHEMA_ON: true
      LOG_LEVEL: info
      NODE_ENV: development
      PORT: 3005
      ENVIRONMENT: dev
      DISABLE_AUTH: true
      DISABLE_PROXY: true
      GRAPHQL_DASHBOARD_ENABLED: true
      ADMIN_AD_GROUP_ID: unused
      KITS_GATEWAY_INTERNAL_URL: http://kits-mock:3100/v1/
      KITS_GATEWAY_TIMEOUT_MS: 3000
      KITS_DISABLE_MTLS: true
      DAL_REQUEST_TIMEOUT_MS: 3000

  redis:
    image: redis:7.2.3-alpine3.18

  fcp-defra-id-stub:
    image: defradigital/fcp-defra-id-stub
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3007/health"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 3s
    environment:
      AUTH_MODE: ${AUTH_MODE}
      AUTH_OVERRIDE: ${AUTH_OVERRIDE}
      AUTH_OVERRIDE_FILE: ${AUTH_OVERRIDE_FILE}
    volumes:
      - ./defra-id.data.json:/data/defra-id.data.json
