{% extends 'common/layout.njk' %}
{% from "common/navigation/back-sign-out-link.njk" import appBackSignOutLink with context %}

{% block beforeContent %}
{{ appBackSignOutLink({ href: backLink }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-body" data-testid="app-page-body">

      <h1 class="govuk-heading-l">Accessibility statement</h1>

      <p>This accessibility statement applies to the Farm and Land Service.</p>

      <p>This website is run by the Department for Environment, Food and Rural Affairs (Defra). We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>change colours, contrast levels and fonts using browser or device settings</li>
        <li>zoom in up to 400% without the text spilling off the screen</li>
        <li>navigate most of the website using a keyboard or speech recognition software</li>
        <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
        <li>understand the website text, which has been made as simple as possible</li>
      </ul>

      <p>AbilityNet has advice on making your device easier to use if you have a disability.</p>

      <h2 class="govuk-heading-m">How accessible this website is</h2>
      <p>We are not aware of any accessibility issues with this website. We will organise an accessibility review and update the page once this service is available to more people.</p>

      <h2 class="govuk-heading-m">Feedback and contact information</h2>
      <p>If you find any problems not listed on this page or think we’re not meeting accessibility requirements, contact:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>[Provide details of how to report accessibility issues to your organisation and the responsible unit/person]</li>
        <li>If you need information in a different format, contact: [Provide contact details of the unit/person supporting alternative formats]</li>
      </ul>
      <p>Or you can contact the Rural Payments Agency (RPA) for help:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Phone: 03000 200 301 (Monday to Friday, 8.30am to 5pm, except bank holidays) <a href="#" target="_blank">Find out about call charges</a></li>
        <li>Email: <a href="mailto:ruralpayments@defra.gov.uk">ruralpayments@defra.gov.uk</a> (RPA aims to respond within 10 working days)</li>
      </ul>

      <h2 class="govuk-heading-m">Enforcement procedure</h2>
      <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, contact the Equality Advisory and Support Service (EASS).</p>

      <h2 class="govuk-heading-m">Technical information about this website’s accessibility</h2>
      <p>Defra is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

      <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
      <p>This statement was prepared on [date when it was first published].</p>

    </div>
  </div>
</div>

{% endblock %}
