{% extends 'common/layout.njk' %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "common/navigation/back-sign-out-link.njk" import appBackSignOutLink with context %}

{% block beforeContent %}
  {{ appBackSignOutLink(backLink) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      {# Notification banner #}
      {% if notification %}
        {{ govukNotificationBanner({
          type: "success",
          titleText: notification.title,
          html: notification.html or notification.text
        })}}
      {% endif %}

    <span class="govuk-caption-l text-wrap-no-hyphen">{{userName}}</span>

    <h1 class="govuk-heading-l">
      View and update your personal details
    </h1>

    {% set displayDOB %}
      {% if dob.fullDateOfBirth === 'Not added' %}
        <div><span class="govuk-hint display-inline">Not added</span></div>
      {% else %}
        <div>{{ dob.fullDateOfBirth }}</div>
      {% endif %}
    {% endset %}

    {% set formattedAddress %}
      {% for addressLine in personalAddress.address %}
        <div>{{addressLine}}</div>
      {% endfor %}
    {% endset %}

    {% set displayPersonalTelephone %}
      <div>
        Telephone:
        {% if personalTelephone.telephone === 'Not added' %}
          <span class="govuk-hint display-inline">{{ personalTelephone.telephone }}</span>
        {% else %}
          <span>{{ personalTelephone.telephone }}</span>
        {% endif %}
      </div>
      <div>
        Mobile:
        {% if personalTelephone.mobile === 'Not added' %}
          <span class="govuk-hint display-inline">{{ personalTelephone.mobile }}</span>
        {% else %}
          <span>{{ personalTelephone.mobile }}</span>
        {% endif %}
      </div>
    {% endset %}

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Full name"
          },
          value: {
            text: personalName.fullName
          },
          actions: {
            items: [
              {
                href: personalName.changeLink,
                text: personalName.action,
                visuallyHiddenText: "Full name"
              }
            ]
          }
        },
        {
          key: {
            text: "Date of birth"
          },
          value: {
            html: displayDOB
          },
          actions: {
            items: [
              {
                href: dob.changeLink,
                text: dob.action,
                visuallyHiddenText: "date of birth"
              }
            ]
          }
        },
        {
          key: {
            text: "Customer reference number"
          },
          value: {
            text: crn
          }
        },
        {
          key: {
            text: "Personal address"
          },
          value: {
            html: formattedAddress
          },
          actions: {
            items: [
              {
                href: personalAddress.changeLink,
                text: personalAddress.action,
                visuallyHiddenText: "personal address"
              }
            ]
          }
        },
        {
          key: {
            text: "Personal phone numbers"
          },
          value: {
            html: displayPersonalTelephone
          },
          actions: {
            items: [
              {
                href: personalTelephone.changeLink,
                text: personalTelephone.action,
                visuallyHiddenText: "personal phone numbers"
              }
            ]
          }
        },
        {
          key: {
            text: "Personal email address"
          },
          value: {
            text: personalEmail.email
          },
          actions: {
            items: [
              {
                href: personalEmail.changeLink,
                text: personalEmail.action,
                visuallyHiddenText: "personal email address"
              }
            ]
          }
        }
      ]
    }) }}

  </div>
</div>
{% endblock %}
