{% extends 'common/layout.njk' %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "common/navigation/back-link.njk" import appBackLink %}
{% from "common/sub-header/macro.njk" import subHeader %}

{% set pageTitle = "What is your business name?" %}
{% set metaDescription = "Update the name for your business." %}

{% block beforeContent %}
    {{ subHeader(
    businessName=businessName, 
    sbi="123456789", 
    userName="Alfred Waldron"
) }}

    {{ appBackLink() }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if errors %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
                {
                    text: errors.businessName.text,
                    href: "#business-name"
                }
            ]
        }) }}
    {% endif %}

    <form method="post" novalidate>
      <div class="govuk-form-group">
        {{ govukInput({
          label: {
            text: "What is your business name?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          id: "business-name",
          name: "businessName",
          value: businessName,
          errorMessage: errors.businessName and {
            text: errors.businessName.text
          }
        }) }}
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
