{% extends 'common/layout.njk' %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "common/sub-header/macro.njk" import subHeader %}
{% from "common/navigation/back-sign-out-link.njk" import appBackSignOutLink with context %}

{% block beforeContent %}
  {{ subHeader(businessName=businessName, sbi=sbi, userName=userName) }}
  {{ appBackSignOutLink(backLink) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      {# Notification banner #}
      {% if notification %}
        {{ govukNotificationBanner({
          type: "success",
          titleText: notification.title,
          text: notification.text
        }) }}
      {% endif %}

    <h1 class="govuk-heading-l">
      {{ pageTitle }}
    </h1>

    <p class="govuk-body">
      {{permissionsText}}
    </p>

    {% set formattedAddress %}
      {% for addressLine in address %}
        <div>{{addressLine}}</div>
      {% endfor %}
    {% endset %}

    {% set formattedCph %}
      {% for cphNumber in countyParishHoldingNumbers %}
        <div> {{cphNumber}} </div>
      {% endfor %}
    {% endset %}

    {% set displayBusinessTelephone %}
      <div>
        Telephone:
        {% if businessTelephone.telephone === 'Not added' %}
          <span class="govuk-hint display-inline">{{ businessTelephone.telephone }}</span>
        {% else %}
          <span>{{ businessTelephone.telephone }}</span>
        {% endif %}
      </div>
      <div>
        Mobile:
        {% if businessTelephone.mobile === 'Not added' %}
          <span class="govuk-hint display-inline">{{ businessTelephone.mobile }}</span>
        {% else %}
          <span>{{ businessTelephone.mobile }}</span>
        {% endif %}
      </div>
    {% endset %}

    {% set displayVatNumber %}
      {% if vatNumber === 'No number added' %}
        <span class="govuk-hint display-inline">{{ vatNumber }}</span>
      {% else %}
        <span>{{ vatNumber }}</span>
      {% endif %}
    {% endset %}

    <h2 class="govuk-heading-m">
      Business contact details
    </h2>

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Business name"
          },
          value: {
            text: businessName
          },
          actions: changeLinks.businessName
        },
        {
          key: {
            text: "Business address"
          },
          value: {
            html: formattedAddress
          },
          actions: changeLinks.businessAddress
        },
        {
          key: {
            text: "Business phone numbers"
          },
          value: {
            html: displayBusinessTelephone
          },
          actions: changeLinks.businessTelephone
        },
        {
          key: {
            text: "Business email address"
          },
          value: {
            text: businessEmail
          },
          actions: changeLinks.businessEmail
        }
      ]
    }) }}

    <h2 class="govuk-heading-m">
      Reference numbers
    </h2>

    {# For styling reasons the first row in the summary list (SBI) needs to have the actions and items property
    initialised. This allows the VAT actions to format correctly. Without it the remove and change link wrap onto new
    lines #}

      {% set referenceRows = [
        {
          key: { text: "Single business identifier (SBI)" },
          value: { text: sbi },
          actions: { items: [] }
        },
        {
          key: { text: "VAT registration number" },
          value: { html: displayVatNumber },
          actions: changeLinks.businessVatNumber
        }
      ]%}

      {% if tradeNumber and tradeNumber | length %}
        {% set _ = referenceRows.push({
            key: { text: "Trader number"},
            value: { html: tradeNumber }
          })
        %}
      {% endif %}

      {% if vendorRegistrationNumber and vendorRegistrationNumber | length %}
        {% set _ = referenceRows.push({
            key: { text: "Vendor registration number" },
            value: { html: vendorRegistrationNumber }
          })
        %}
      {% endif %}

      {% if countyParishHoldingNumbers and countyParishHoldingNumbers | length %}
        {% set _ = referenceRows.push({
            key: { text: countyParishHoldingNumbersText },
            value: { html: formattedCph }
          })
        %}
      {% endif %}

    {{ govukSummaryList({ rows: referenceRows }) }}

    <h2 class="govuk-heading-m">
      Additional details
    </h2>

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Business legal status"
          },
          value: {
            text: businessLegalStatus
          },
          actions: changeLinks.businessLegal
        },
        {
          key: {
            text: "Business type"
          },
          value: {
            text: businessType
          },
          actions: changeLinks.businessType
        }
      ]
    }) }}
  </div>
</div>
{% endblock %}
