{% extends 'common/layout.njk' %}
{% from "common/navigation/back-link.njk" import appBackLink %}

{% block beforeContent %}
  {{ appBackLink(backLink)}}
  <a href="#" class="govuk-link login-nav__link govuk-grid-column-one-third">Sign out</a>
{% endblock %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: 'Single business identifier (SBI):'
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h3 class="govuk-heading-m"> Business details</h3>
      <p>
       <a href="/business-details">View and update your business details</a>
      </p>
      <h3 class="govuk-heading-m"> Personal details</h3>
      <p>
       <a href="/personal-details">View and update your personal details</a>
      </p>
      </div>
    </div>
  </div>

{% endblock %}
