{% extends 'common/layout.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "Single business identifier (SBI): "{{sbi}}
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
       
      </div>
    </div>
  </div>

{% endblock %}
