{% extends 'common/layout.njk' %}

{% block beforeContent %}
  <div class="govuk-grid-row sub-header-container govuk-!-padding-top-3">
    <div class="govuk-grid-column-full govuk-!-text-align-right">
      <a href="/auth/sign-out" class="govuk-link">Sign out</a>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">{{ fullName }}</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{ businessName }}</h1>
      <p class="govuk-caption-m">Single business identifier (SBI): {{ sbi }}</p>

      <h3 class="govuk-heading-m"> Business details</h3>
      <p>
        <a href={{businessDetails.link}}>{{businessDetails.text}}</a>
      </p>
      <h3 class="govuk-heading-m"> Personal details</h3>
      <p>
        <a href="/personal-details">View and update your personal details</a>
      </p>

    </div>
  </div>
{% endblock %}
