{% extends "errors/layout.njk" %}
{% from "common/navigation/back-sign-out-link.njk" import appBackSignOutLink %}

{% set pageTitle = "Sorry, there is a problem with the service" %}
{% set metaDescription = "There is a problem with this service, but you can contact us." %}

{% block beforeContent %}
  {{ appBackSignOutLink({ href: backLink }) }}
{% endblock %}

{% block error_content %}
<h1 class="govuk-heading-l">
  Sorry, there is a problem with the service
</h1>
<p class="govuk-body">
  Try again later.
</p>
{% endblock %}
