{% extends 'common/layout.njk' %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "common/sub-header/macro.njk" import subHeader %}

{% set pageTitle = "View and update your business details" %}
{% set metaDescription = "View and change the details for your business." %}

{% set businessEmail = "agilefarms@gmail.com" %}

{% block beforeContent %}
    {{ subHeader(
    businessName="Agile Farm Ltd", 
    sbi="123456789", 
    userName="Alfred Waldron"
) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if showSuccessBanner %}
      {{ govukNotificationBanner({
        type: "success",
        titleText: "Success",
        html: "<h3 class=\"govuk-notification-banner__heading\">You have updated your business name</h3>"
      }) }}
    {% endif %}

    <h1 class="govuk-heading-l">
      View and update your business details
    </h1>

    <h2 class="govuk-heading-m">
      Business contact details
    </h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Business name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ businessName }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="/business-name-change">Change<span class="govuk-visually-hidden"> business name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Business address
        </dt>
        <dd class="govuk-summary-list__value">
          {{ formattedAddress | safe }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="/business-address-enter">Change<span class="govuk-visually-hidden"> business address</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Business phone numbers
        </dt>
        <dd class="govuk-summary-list__value">
          <div class"govuk-summary-list__value-item">
            Telephone:
              {% if businessTelephone %}
                {{ businessTelephone }}
              {% else %}
                <div class="govuk-hint" style="display: inline;">
                  Not added
                </div>
              {% endif %}
          </div>

          <div class"govuk-summary-list__value-item">
            Mobile:
            {% if businessMobile %}
              {{ businessMobile }}
            {% else %}
              <div class="govuk-hint" style="display: inline;">
                Not added
              </div>
            {% endif %}
          </div>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="/business-phone-numbers-change">Change<span class="govuk-visually-hidden"> business phone numbers</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Business email address
        </dt>
        <dd class="govuk-summary-list__value">
          {{ businessEmail }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="/business-email-change">Change<span class="govuk-visually-hidden"> business email address</span></a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">
      Reference numbers
    </h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Single business identifier (SBI)
        </dt>
        <dd class="govuk-summary-list__value">
          123456789 
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          VAT registration number
        </dt>
        <dd class="govuk-summary-list__value">
          <span style="color:#505a5f">No number added</span>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="#">Add<span class="govuk-visually-hidden"> VAT registration number</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Trader number
        </dt>
        <dd class="govuk-summary-list__value">
          987654 
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Vendor registration number
        </dt>
        <dd class="govuk-summary-list__value">
          699368 
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          County Parish Holding (CPH) number
        </dt>
        <dd class="govuk-summary-list__value">
          12/563/0998
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">
      Additional details
    </h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Business legal status
        </dt>
        <dd class="govuk-summary-list__value">
          Sole proprietorship
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="/business-legal-status-change">Change<span class="govuk-visually-hidden"> business legal status</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Business type
        </dt>
        <dd class="govuk-summary-list__value">
          Central or local government
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> business type</span></a>
        </dd>
      </div>
    </dl>
  </div>
</div>
{% endblock %}
